
body {
    margin: 0;
    font-family: Arial;
    background: #f4f7fa;
}

.nav {
    background: #1a73e8;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav .logo {
    font-size: 26px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 22px;
}

.btn {
    background: #1a73e8;
    padding: 14px 30px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
